<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AKSStore.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D8F6A4E11F6C6838009BBD3A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D8F6A4FA1F6C6838009BBD3A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D8F6A5051F6C6839009BBD3A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
