<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Objects</key>
	<array>
		<dict>
			<key>name</key>
			<string>Keys &amp; Remotes</string>
			<key>level</key>
			<string>0</string>
			<key>Objects</key>
			<array>
				<dict>
					<key>name</key>
					<string>Automatic Keys</string>
					<key>level</key>
					<string>1</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Remotes</string>
					<key>level</key>
					<string>1</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Other Keys</string>
					<key>level</key>
					<string>1</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>Locks &amp; Cylinders</string>
			<key>level</key>
			<string>0</string>
			<key>Objects</key>
			<array>
				<dict>
					<key>name</key>
					<string>Ignitions</string>
					<key>level</key>
					<string>1</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Other Automative Locks</string>
					<key>level</key>
					<string>1</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Door Hardware</string>
					<key>level</key>
					<string>1</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Lock Cylinders</string>
					<key>level</key>
					<string>1</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Other Locks</string>
					<key>level</key>
					<string>1</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>Pins &amp; Chips</string>
			<key>level</key>
			<string>0</string>
			<key>Objects</key>
			<array>
				<dict>
					<key>name</key>
					<string>Transponder Chips</string>
					<key>level</key>
					<string>1</string>
				</dict>
				<dict>
					<key>name</key>
					<string>LAB Pins &amp; Kits</string>
					<key>level</key>
					<string>1</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Auto Pinning Kits</string>
					<key>level</key>
					<string>1</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>Tools &amp; Machines</string>
			<key>level</key>
			<string>0</string>
			<key>Objects</key>
			<array>
				<dict>
					<key>name</key>
					<string>Car Unlocking</string>
					<key>level</key>
					<string>1</string>
				</dict>
				<dict>
					<key>name</key>
					<string>LockPicks</string>
					<key>level</key>
					<string>1</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Decoders</string>
					<key>level</key>
					<string>1</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Other Tools</string>
					<key>level</key>
					<string>1</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Machines</string>
					<key>level</key>
					<string>1</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>Services</string>
			<key>level</key>
			<string>0</string>
			<key>Objects</key>
			<array>
				<dict>
					<key>name</key>
					<string>Cut a Key</string>
					<key>level</key>
					<string>1</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Cylinder Rekeying</string>
					<key>level</key>
					<string>1</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Reflashing</string>
					<key>level</key>
					<string>1</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Cloning</string>
					<key>level</key>
					<string>1</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Remote/Key Unlocking</string>
					<key>level</key>
					<string>1</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>More...</string>
			<key>level</key>
			<string>0</string>
			<key>Objects</key>
			<array>
				<dict>
					<key>name</key>
					<string>Accessories</string>
					<key>level</key>
					<string>1</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Bundles</string>
					<key>level</key>
					<string>1</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Other Stuff</string>
					<key>level</key>
					<string>1</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
